body {
	font-family: 'EB Garamond', serif;
	font-size: 17px;
	background-color: #EDE0CD;
}

h1 {
	font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

/*******************************************************
NAV SECTION
*******************************************************/

nav {
  background-color: #1695A3;
  position: fixed;
  width: 100%;
  z-index: 200;
  top: 0;
  border-bottom: solid 5px #2A7A8C;
}
    .logo {
      float: left;
      font-family: 'Raleway', sans-serif;
      text-decoration: none;
      font-weight: 600;
      line-height: 4em;
      padding-left: 25px;
      color: #fff;
    }

    .nav-links {
      padding: 0;
      float: right;
      margin: 0;
    }

    .nav-links li {
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      list-style: none;
      display: inline-block;
      margin-right: 2em;
    }

    .nav-links a {
    	text-decoration: none;
    	color: #fff;
      padding: 0;
      line-height: 4em;
    }

    .social-icon img {
      max-width: 25px;
      vertical-align: middle;
    }



/*******************************************************
Masthead
*******************************************************/

.masthead {
	height: 500px;
	width: 100%;
	position: relative;
	background: url('../img/ocean.jpg') center top no-repeat;
	background-size: cover;
}

.masthead h1 {
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
	color: #fff;
	font-size: 48px;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}




/*******************************************************
Outer Container   Catchphrase: Comfort, Heal, Restore;
*******************************************************/

.outer-container {
  margin-top: 100px;
  text-align: center;
}


/*******************************************************
Services SECTION
*******************************************************/

  /*#services {
  	background-color: #5F939F;
  }*/


/*******************************************************
FEEDBACK SECTION
*******************************************************/

  /*#feedback {
  	background-color: #1B4E59;
  }*/


/*******************************************************
CONTACT SECTION
*******************************************************/

  /*#contact {
  	background-color: #82C9D8;
  }*/

  #contact ul {
  	padding-left: 0;
  }

  #contact ul li {
  	list-style: none;
  	margin-bottom: 0.75em;
  }

  #contact .contact-info li a {
  		text-decoration: none;
      color: black;
  	}



/*******************************************************
FOOTER SECTION
*******************************************************/

footer {
	background-color: #1695A3;
	padding: 7px 0;
	vertical-align: middle;
	border-top: solid 5px #2A7A8C;
}

footer p {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-align: center;
}











