body {
	font-family: 'EB Garamond', serif;
	font-size: 17px;
	background-color: #EDE0CD;
}

h1 {
	font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

/*******************************************************
NAV SECTION
*******************************************************/

nav {
  background-color: #1695A3;
  position: fixed;
  width: 100%;
  z-index: 200;
  top: 0;
  border-bottom: solid 5px #2A7A8C;
}
    .logo {
      float: left;
      font-family: 'Raleway', sans-serif;
      text-decoration: none;
      font-weight: 600;
      line-height: 4em;
      padding-left: 25px;
      color: #fff;
    }

    .nav-links {
      padding: 0;
      float: right;
      margin: 0;
    }

    .nav-links li {
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      list-style: none;
      display: inline-block;
      margin-right: 2em;
    }

    .nav-links a {
    	text-decoration: none;
    	color: #fff;
      padding: 0;
      line-height: 4em;
    }

    .social-icon img {
      max-width: 25px;
      vertical-align: middle;
    }



/*******************************************************
Masthead
*******************************************************/

.masthead {
	height: 500px;
	width: 100%;
	position: relative;
	background: url('../img/ocean.jpg') center top no-repeat;
	background-size: cover;
}

.masthead h1 {
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
	color: #fff;
	font-size: 48px;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}




/*******************************************************
Outer Container   Catchphrase: Comfort, Heal, Restore;
*******************************************************/

.outer-container {
  margin-top: 100px;
  text-align: center;
}


/*******************************************************
Services SECTION
*******************************************************/

  /*#services {
  	background-color: #5F939F;
  }*/


/*******************************************************
FEEDBACK SECTION
*******************************************************/

  #feedback {
  	background-color: #1B4E59;
    form {
  width: 500px;
  height: 600px;
  margin: 10px;
  padding: 10px;
  background-color: #78BAA1;
  border-style: solid;
  border-color: #feedbb;
  border-width: 10px;
}


div.first-field {
  width: 246px;
  margin: 2px;
}

div.second-field {
  width: 246px;
  v
}
div.third-field {
  width: 246px;
  margin: 2px;
}
li.checkbox-positive-exp {
  width: 246px;
}

.first-question {
  width: 246px;
  margin: 5px;
  margin-right: auto;
  margin-left: auto;
}
div.container {
  background-color: #aaffcc;
  width: 450px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
}
ul {
  list-style: none;
}
span#checkbox-positive {
  margin-left: auto;
  margin-right: auto;
}
textarea#positive {
  height: 90px;
  width: 242px;
}
textarea#recommend{
  height: 90px;
  width: 242px;
}
textarea#book{
  height: 90px;
  width: 242px;
}



.container{
  background-color: blue;
  margin: auto;
  padding-bottom: auto;
}

/*.first-question {
  width: 350px;
  margin-left: auto;
  margin-right: auto;*/
}




/*
}
.name-and-input{
  width: 156px;
  margin-right: auto;
  margin-left: auto;
}
textarea#input-name {
  width: 156px; 
}
div#input-name {
  width: 156px;
  margin: 2px auto 2px auto;
}
.phoneNumber-and-input{
  width: 156px;
  margin-right: auto;
  margin-left: auto;
}
textarea#number {
  width: 156px;
}
div#input-number {
  width: 156px;
  margin: 2px auto 2px auto;
}
.email-and-input{
  width: 156px;
  margin-right: auto;
  margin-left: auto;
}
.textarea#email {
  width: 156px;
}
div#input-email{
  width: 156px;
  margin: 2px auto 2px auto;
}
textarea#phoneNumber {
  margin: 2px auto 2px auto;
}
div#phoneNumber{
  width: 156px;
}
textarea#email {
  margin: 2px auto 2px auto;
}
div#input-email{
  margin: 2px auto 2px auto;
}

.cc-and-input{
  width: 156px;
  margin-right: auto;
  margin-left: auto;
}
textarea#cc{
  margin: 2px auto 2px auto;
}
div#input-cc{
  margin: 2px auto 2px auto;
}
.label{
  margin-right:;
}*/


/*input[type=submit] {
  width: 120px;
  font-size: 30px;
}*/
  }


/*******************************************************
CONTACT SECTION
*******************************************************/

  /*#contact {
  	background-color: #82C9D8;
  }*/

  #contact ul {
  	padding-left: 0;
  }

  #contact ul li {
  	list-style: none;
  	margin-bottom: 0.75em;
  }

  	.contact-info li a {
  		text-decoration: none;
  	}



/*******************************************************
FOOTER SECTION
*******************************************************/

footer {
	background-color: #1695A3;
	padding: 7px 0;
	vertical-align: middle;
	border-top: solid 5px #2A7A8C;
}

footer p {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-align: center;
}











