body {
	font-family: 'Roboto Slab', serif;
	font-size: 17px;
	background-color: #EDE0CD;
}

h1 {
	font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #fff;
}

/*******************************************************
NAV SECTION
*******************************************************/

nav {
  background-color: #1695A3;
  position: fixed;
  width: 100%;
  z-index: 200;
  top: 0;
  border-bottom: solid 5px #2A7A8C;
}
  .logo {
    float: left;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 600;
    line-height: 4em;
    padding-left: 25px;
    color: #fff;
  }

  .nav-links {
    padding: 0;
    float: right;
    margin: 0;
  }

  .nav-links li {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    list-style: none;
    display: inline-block;
    margin-right: 2em;
  }

  .nav-links a {
  	text-decoration: none;
  	color: #fff;
    padding: 0;
    line-height: 4em;
  }

  .social-icon img {
    max-width: 25px;
    vertical-align: middle;
  }



/*******************************************************
Masthead
*******************************************************/

.masthead {
	height: 500px;
	width: 100%;
	position: relative;
	background: url('../img/ocean.jpg') center top no-repeat;
	background-size: cover;
  margin-bottom: 0px;
  opacity: 0.8;
}

.masthead h1 {
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
	color: #fff;
	font-size: 48px;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}




/*******************************************************
Outer Container   Catchphrase: Comfort, Heal, Restore;
*******************************************************/

.outer-container {
  margin-top: 0px;
  text-align: center;
}


/*******************************************************
Services SECTION
*******************************************************/


#services {
  table-layout: auto;
  /*text-align: center;*/
  padding: 20px;
  background-color: #5F939F;
}

#services .center {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 10px;
}

#services td {
  /*width: 600px;
  /*margin: 40px auto;*/
  text-align: left;
  padding: 7px;
}

/*#services table { 
  table-layout: auto;
}*/

  #services h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

#table-head-1 {
  min-width: 150px;
  padding-right: 7px;
  font-weight: 700;
}

#table-head-2 {
  max-width: 500px;
  padding-right: 7px;
  padding-left: 7px;
  font-weight: 700;
}

#table-head-3 {
  min-width: 150px;
  padding-left: 3%;
  font-weight: 700;
  text-align: left; 
}

/*******************************************************
FEEDBACK SECTION
*******************************************************/


  #feedback h1 {
  	font-family: 'Raleway', sans-serif;
  	font-weight: 800;
    background-color: #1B4E59;
    margin-bottom: 0px;
    margin-top: 0px;
  }



/*******************************************************
CONTACT SECTION
*******************************************************/

  #contact {
  	background-color: #82C9D8;
    padding-bottom: 17px;
  }

  #contact h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin-top: 0px;
  }

  #contact ul {
  	padding-left: 0;
  }

  #contact ul li {
  	list-style: none;
  	margin-bottom: 0.75em;
  }

  .contact-info ul li a {
  		text-decoration: none;
  	}


/*******************************************************
FOOTER SECTION
*******************************************************/


footer {
	background-color: #1695A3;
	padding: 7px 0;
	vertical-align: middle;
	border-top: solid 5px #2A7A8C;
}

footer p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-align: center;
  color: #fff;
}











